<h3>
    Tracks
</h3>

<div class="row">

{#<div class="card-deck">#}
    {% for track in content %}
        {% set meta = track.metadata %}

    <div class="col-sm-6">

    <div class="card text-center border-secondary mb-3">
            <div class="card-header">
                {{ track.trackName|truncate(20) }}
            </div>
            <div class="card-body text-secondary">
                {#<h4 class="card-title">Special title treatment</h4>#}
                <p class="card-text">

                    {% for artist in track.artists %}
                        {{ artist.artist }}
                    {% endfor %}

                </p>
                <a href="#" class="btn btn-primary"
                   onclick="addSound('{{ meta.trackPath }}', '{{ track.trackName }}')">
                    Play
                </a>
            </div>
            <div class="card-footer text-muted">
                {{ meta.trackPath }}
            </div>
        </div>

    </div>

    {% endfor %}
</div>