<h3>
    Tracks
</h3>

<div class="panel-group">
    {% for track in content %}
        {% set meta = track.metadata %}
        <div class="panel panel-default" data-toggle="collapse" data-target="#meta-{{ loop.index0 }}">
            <div class="panel-heading">
                <button type="button" class="btn btn-secondary float-right" onclick="playSound('{{ meta.trackPath }}')">Play</button>
                {{ track.trackName }}
            </div>
            <div class="panel-body">
                Artist : {% for artist in track.artists %}
                    <span class="badge">
                    {{ artist.artist }}
                </span>
                {% endfor %}
                <div id="meta-{{ loop.index0 }}" class="collapse" style="word-break: break-word;">
                    Track location : {{ meta.trackFullPath }} || {{ meta.trackPath }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>